
*.db

*.ts

.vscode/

google_scripts/.clasp.json

google_scripts/appsscript.json

.vlocity/epc_on_steroids.project.yaml

.vlocity/

google_scripts/Configuration.js

.prettierrc

.DS_Store

google_scripts/Sandbox.js

google_scripts/Tests.js
