<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="https://github.com/sashavmorozov/vlocity-epc-on-steroids/blob/master/resources/icons/vlocity-pill-white.png?raw=true"
                height="32" alt="" />
            EPC on Steroids
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="https://github.com/sashavmorozov/vlocity-epc-on-steroids/releases" class="nav-link"
                    target="_blank">Get Client</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/sashavmorozov/vlocity-epc-on-steroids/wiki/EPC-on-Steroids-Value-Proposition"
                    class="nav-link" target="_blank">Why EPC on Steroids</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/sashavmorozov/vlocity-epc-on-steroids/wiki" class="nav-link"
                    target="_blank">Help Center</a>
            </li>
            <li class="nav-item">
                <a href="mailto:epc-on-steroids@vlocity.com" class="nav-link" target="_blank">Feedback</a>
            </li>
        </ul>
    </div>
</nav>